@tailwind base;
@tailwind components;
@tailwind utilities;

.stock-input {
  position: relative;
  appearance: none;
}

[type=radio]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #2C7EF8;
  position: absolute;
  border-radius: 50%;
}